<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>G&eacute;n&eacute;ration des Trombis des Personnels - IUT'O</title>
 
     <link href="static/bootstrap.min.css" rel="stylesheet">
     <link href="static/jumbotron-narrow.css" rel="stylesheet">
     <link href="static/signup.css" rel="stylesheet">
    
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">{{username}}</a>
                    </li>
                    <li role="presentation"><a href="webtrombi">Cr&eacute;er</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">G&eacute;n&eacute;ration des Trombis des Personnels - IUT'O</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Webtrombi</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="webtrombi" role="button">Cr&eacute;er un trombi</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>&Agrave; propos</h4>
                <p>Application créée par la cellule Comm de l'IUT d'Orl&eacute;ans avec le soutien du service informatique.</p>
 
                <h4>Fonctionnement</h4>
                <p>Pour utiliser cette application, vous devez founir une liste des personnels de votre département au format CSV (liste pouvant par exemple être exportée d'un fichier excel ou libreoffice).</p>
                <h4>Résultat</h4>
                <p>Création d'un trombinoscope aux formats HTML et PDF visible au moyen des liens dans la colonne de droite.</p>

		<h4>Documentation</h4>
                <p><a href="static/Documentation-webtrombi.pdf">Manuel d&eacute;crivant le contenu du fichier CSV d'entr&eacute;e.</a><br>
		<a href="static/Documentation-carte-interactive.pdf">Documentation d&eacute;crivant la cr&eacute;ation d'une carte interactive (cf plans de d&eacute;partement).</a></p>

		<h4>Contact</h4>
                <p><tt>yannick.parmentier@univ-orleans.fr</tt></p>
            </div>
 
            <div class="col-lg-6">
                <h4><a href="Administration">Administration</a></h4><hr/>
 
                <h4><a href="CHIMIE">Chimie</a></h4><hr/>
 
                <h4><a href="GEA">Gestion des Entreprises et des Administrations</a></h4><hr/>

		<h4><a href="GMP">G&eacute;nie M&eacute;canique et Productique</a></h4><hr/>

                <h4><a href="GTE">G&eacute;nie Thermique et &Eacute;nerg&eacute;tique</a></h4><hr/>

                <h4><a href="INFO">G&eacute;nie Informatique</a></h4><hr/>

                <h4><a href="QLIO">Qualit&eacute;, Logistique Industrielle et Organisation</a></h4><hr/>

		<h4><a href="Tous">Tous d&eacute;partements</a></h4><hr/>

            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; IUT'O 2015</p>
        </footer>
 
    </div>
</body>
 
</html>
